* {
    margin: none;
    padding: none;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right top, #2881ca, #2f81b8);
    min-height: 100vh;
}

.navbar {
    background: rgba(255, 255, 255, 0);
    color: black;
    margin-bottom: 10px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid {
    margin: 0 0 1rem 1rem;
}

.glass {
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
    border-radius: 30px;
    z-index: 2;
    backdrop-filter: blur(30px);
    transition: all .2s ease-in-out;
}

.glass:hover {
    transform: scale(1.05);
}

.h1 {
    font-size: 50px;
}

#left-side-col {
    height: 100%;
    padding: 20px;
}

#search-city {
    width: 75%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.list-group-item:hover {
    background-color: rgb(177, 175, 175);
}

#right-side-col {
    width: 100%;
    padding: 20px;
}

#city-current-info {
    height: auto;
    width: auto;
}

.uv-ptag {
    display: flex;
    float: left;
}

.uv-value {
    width: 3rem;
    height: 1.5rem;
    text-align: center;
    align-content: center;
    color: white;
}

.low-uv {
    background-color: green;
}

.medium-uv {
    background-color: rgb(209, 209, 17);
}

.high-uv {
    background-color: orange;
}

.very-high-uv {
    background-color: red;
}

.city-name-and-date {
    float: left;
}

.card {
    float: left;
    width: auto;
    background-color: rgb(67, 129, 211);
    color: white;
    margin: 1rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0) url("http://i.stack.imgur.com/FhHRx.gif") 50% 50% no-repeat;
}

#right-side-col.loading .modal {
    overflow: hidden;
}

#right-side-col.loading .modal {
    display: block;
}