.container {
    margin: 0 0 1rem 1rem;
    width: auto;
}

.h1 {
    font-size: 50px;
}

#left-side-col {
    height: 100%;
    padding: 20px;
}

#search-city {
    width: 75%;
}

.list-group-item:hover {
    background-color: rgb(177, 175, 175);
}

#right-side-col {
    width: 100%;
}

#city-current-info {
    height: auto;
    width: auto;
}

.uv-ptag {
    display: flex;
    float: left;
}

.uv-value {
    width: 2rem;
    height: 1.5rem;
    text-align: center;
    align-content: center;
    color: white;
}

.low-uv {
    background-color: green;
}

.medium-uv {
    background-color: yellow;
}

.high-uv {
    background-color: orange;
}

.very-high-uv {
    background-color: red;
}

.city-name-and-date {
    float: left;
}

.card {
    float: left;
    width: auto;
    background-color: rgb(67, 129, 211);
    color: white;
    margin: 2rem;
}