.container {
    margin: 0 0 1rem 1rem;
}

.h1 {
    font-size: 50px;
}

#left-side-col {
    height: 100%;
    padding: 20px;
}

.list-group-item:hover {
    background-color: rgb(177, 175, 175);
}

#right-side-col {
    width: 100%;
}

#city-current-info {
    height: auto;
    width: auto;
}

.city-name-and-date {
    float: left;
}